@import "tailwindcss";

body {
  box-sizing: border-box;
  
}
@font-face {
  font-family: 'IM Fell English Local';
  src: url('/src/assets/fonts/IMFellEnglish-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inria Serif Local';
  src: url('/src/assets/fonts/InriaSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Newsreader Local';
  src: url('/src/assets/fonts/Newsreader-variableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.custom-imfell {
  font-family: 'IM Fell English Local', serif;
  font-weight: 400;
  font-style: normal;
}
.custom-inria{
  font-family: 'Iria Serif Local', serif;
  font-weight: 400;
  font-style: normal;
}
.custom-newsreader{
  font-family: 'Newsreader Local', serif;
  font-weight: 400;
  font-style: normal;
}
.swiper-pagination-bullet {
  background-color: #555 !important; /* Inactive dots (dark gray/black) */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important; /* Active dot (black) */
}
.swiper-slide {
  pointer-events: auto !important;
  z-index: 10 !important;
}
.swiper-wrapper {
  cursor: pointer;
}
.swiper-slide-shadow,
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none !important;
}